{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'basic.css' %}">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
</head>
<body>

    <div class="login-page">
        <div class="form">
            <h2>Registration</h2>
          <form id="regform" method="POST" class="register-form">
              {% csrf_token %}
            <input type="text" name="username" placeholder="Username" id="username" onkeyup="checkUserName()"/>
            <p id="results"></p>
            <input type="password" name="password" placeholder="Password"/>
            <input type="password" name="cpassword" placeholder="Confirm Password"/>
            
            
            <button>Sign Up</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
          </form>
          <br>

          {% if messages %}
          {% for message in messages %}
          {% if message.tags == "success" %}
              <div class= "alert alert-success">{{ message }}</div>
          {% elif message.tags == "error" %}
              <div class= "alert alert-danger">{{ message }}</div>
          {% endif %}
          {% endfor %}
          {% endif %}
         
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    

    <script>
        const available=true
        form=document.getElementById("regform")   
        function checkUserName(){
            console.log("sssssss")
              
            let un=document.getElementById('username').value;
            console.log(un)
            $.ajax({
                url:"{% url 'check_username' %}",
                type:"get",
                data:{username:un},
                success:function(data){
                    if(data=="available"){
                        $("#results").html("Username is Available").addClass("text-success");
                    }else{
                        $("#results").html("This Username already Registered").addClass("text-danger");
                        available=false
    
                    }
                }
            })
            
        }

        
        form.addEventListener('submit',(e)=>{
            console.log(available)
            if(available==false){
                e.preventDefault()
            }     
        })
    </script>      
    
</body>
</html>